[submodule "SNRHUDKit"]
	path = External/SNRHUDKit
	url = https://github.com/zwaldowski/SNRHUDKit.git
[submodule "Sparkle"]
	path = External/Sparkle
	url = https://github.com/zwaldowski/Sparkle.git
[submodule "SFBAudioEngine"]
	path = External/SFBAudioEngine
	url = https://github.com/zwaldowski/SFBAudioEngine.git
